@import "../sass/variables.scss";
.title {
  font-size: 3rem;
}
.hidden {
  display: none;
}
.inputError {
  border-color: red !important;
}
.text-error {
  text-align: start;
  font-size: 1.2rem;
  color: red;
  margin: 0;
  margin-top: 0.5rem;
}
.google-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-gray;
  border-radius: 0.6rem;
  background-color: $color-white;
  gap: 1rem;
  margin: 0;
}
.input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
