@import "../../sass/variables.scss";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}
.login-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.title {
  font-size: 3rem;
}
.signin-options {
  width: 100%;
  display: flex;
  gap: 1.6rem;
}
.lines {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: $color-gray;
  font-size: 1.2rem;
}
.input-wrapper {
  width: 100%;
  position: relative;
}
.sign-up {
  font-size: 1.5rem;
  a {
    color: $color-blue;
    text-decoration: none;
  }
}

.password-toggle-icon {
  position: absolute;
  top: 2.5rem;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: gray;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}
